@@include("head.html")
<body>
@@include('notice.html')
@@include('header.html')

<!-- .content -->
<section class="content">
	conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte <br>conte
</section>
<!-- // .content -->

@@include('toolbar.html', {
	"ty1": " on",
	"ty2": " new",
	"ty3": " on new",
	"ty4": "",
	"ty5": ""
})
</body>
</html>